/* < Header > */
.Header {
  height: 50px;
  margin: 25px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;

  .blog-icon {
    width: 150px;
  }
}

.Menu {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
